;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[color]
;background = ${xrdb:color0:#222}
background = #1e1f29
;background-alt = #444
;foreground = ${xrdb:color7:#222}
foreground = #f8f8f2
;foreground-alt = #555
primary = #ffb52a
secondary = #e60053
alert = #bd2c40
modulefg = #f7f7f7
modulefg-alt = #f7f7f7

; Active Shade
shade1 = #282629
shade2 = #37474F
shade3 = #455A64
shade4 = #546E7A
shade5 = #607D8B
shade6 = #78909C
shade7 = #90A4AE
shade8 = #B0BEC5

trans = #00000000
white = #FFFFFF
black = #000000
tray-background = #404552

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
pseudo-transparency = false

[global/wm]
margin-top = 5
margin-bottom = 5

[bar/barbase]
width = ${env:width}
;width = 100%
height = 45
offset-x = 8
offset-y = 8
monitor = ${env:monitor}
fixed-center = true
bottom = false

background = ${color.background}
foreground = ${color.foreground}

;radius = 10.0
;radius-top = 8.0
;radius-bottom = 8.0

line-size = 3
line-color = #f00

;border-size = 0
;border-bottom =1
;border-color = #00000000

padding = 1
;padding-left = 2
;padding-right = 14

module-margin-left = 1
module-margin-right = 1

;module-margin = 1

font-0 = "SauceCodePro Nerd Font:size=20:weight=semibold;3"
modules-center = 
modules-right =  all-updates cpu temperature storage my-memory weather date 
;   

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
tray-position = right
tray-detached = false
tray-maxsize = 25
tray-offset-x = 5
tray-offset-y = 0
tray-padding-right = 3
tray-scale = 1.0
tray-background = ${color.background}
separator = |

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1

[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2

[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3

[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

#####################################################################

[module/cpu]
type = internal/cpu
interval = 2
;format-prefix = " "
;format-prefix-foreground = ${color.shade4}
;format-foreground = ${color.modulefg}
;format-background = ${color.shade6}
;format-underline = #f90000
label = CPU %percentage:2%%
format-prefix = " "
format-prefix-foreground = #3384d0
format-underline = #3384d0
click-left = alacritty -e htop

[module/memory]
type = internal/memory
interval = 2
;format-prefix = " "
;format-prefix-foreground = ${color.foreground-alt}
;format-underline = #4bffdc
;format-foreground = ${color.modulefg}
;format-background = ${color.shade5}
label = MEM %percentage_used%%
format-prefix = " "
format-prefix-foreground = #01f220
format-underline = #01f220
click-left = alacritty -e htop

[module/wlan]
type = internal/network
interface = net1
interval = 3.0

format-connected = <ramp-signal> <label-connected>
;format-connected-foreground = ${color.modulefg}
;format-connected-background = ${color.shade5}
;format-connected-underline = #9f78e1
label-connected = %essid%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${color.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${color.foreground-alt}

[module/eth]
type = internal/network
interface = enp0s31f6
interval = 3.0

;format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${color.foreground-alt}
label-connected = IP %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${color.foreground-alt}
;format-connected-background = ${color.shade5}
;format-connected-foreground = ${color.modulefg}

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
format-volume-background = ${color.background}
format-volume-foreground = ${color.foreground}
label-volume = VOL %percentage%%
label-volume-foreground = ${color.foreground}
label-muted = mute 
label-muted-foreground = #888
bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${color.foreground-alt}
click-left = pavucontrol

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 80

format = <label>
format-prefix = " "
format-prefix-foreground = #f50a4d
format-underline = #f50a4d
format-warn = <label-warn>
format-warn-underline = ${self.format-underline}
format-background = ${color.background}
format-foreground = ${color.foreground}

label = %temperature-c%
label-warn =    %temperature-c%
label-warn-foreground = ${color.secondary}

[module/date]
type = internal/date
interval = 5
time-alt = %m/%d/%Y %H:%M 
time = %m/%d/%Y %I:%M %p
;format-prefix = 
;format-prefix-foreground = ${color.foreground-alt}
;format-background = ${color.shade2}
;format-foreground = ${color.modulefg}
format-underline = ${color.foreground}
label = %date% %time%


[module/kernel]
type = custom/script
exec = uname -r
tail = false
interval = 1024

format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = "  "
format-prefix-foreground = ${color.foreground}
format-underline =${color.foreground}

click-left = 
click-middle = 
click-right = 

[module/quote]
type = custom/text
content = Follow the white rabbit. Knock. Knock. 
content-foreground = ${color.foreground}
content-background = ${color.background}
content-prefix = "  "
content-prefix-foreground = ${color.foreground}
;content-underline = ${color.foreground}

[module/all-updates]
type = custom/script
exec = ~/Documents/coding/bash_scripts/check-all-updates.sh
interval = 1000
label =  %output%
format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = "  "
format-prefix-foreground = #FFFF00
format-underline = #FFFF00
click-left = alacritty -e yay -Syuu

[module/arch-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-arch-updates.sh
interval = 1000
label =  %output%
format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = "  "
format-prefix-foreground = #FFFF00
format-underline = #FFFF00
click-left = alacritty -e yay -Syuu

[module/aur-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-aur-updates.sh
interval = 1000
label = Aur: %output%
format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = " "
format-prefix-foreground = ${color.foreground}
format-underline = ${color.foreground}
click-left = alacritty

[module/custom-battery]
type = custom/script
exec = ~/Documents/coding/bash_scripts/battery_level.sh
interval = 30
format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = "  "
format-prefix-foreground = #01f220
format-underline = #01f220

[module/weather]
type = custom/script
exec = ~/Documents/coding/bash_scripts/get-weather.sh
interval = 300
format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix = "🌤"
format-prefix-foreground = #01f220
format-underline = #87ceeb

[module/storage]
type = custom/script
exec = ~/Documents/coding/bash_scripts/get-free-disk-space.sh
interval = 1800
format-foreground = ${color.foreground}
format-background = ${color.background}
format-prefix-foreground = #8b20df
format-underline = #8b20df
format-prefix = " "
label = SSD %output%

[module/my-memory]
type = custom/script
exec = ~/Documents/coding/bash_scripts/get-free-memory.sh
interval = 3
format-foreground = ${color.foreground}
format-background = ${color.background}
label = MEM %output%
format-prefix = " "
format-prefix-foreground = #01f220
format-underline = #01f220
click-left = alacritty -e htop

[module/sysmenu]
type = custom/text
content = " 襤 "
content-foreground = ${color.foreground}
click-left = arcolinux-logout
click-right = arcolinux-logout
format-underline = #01f220
content-underline = ${color.foreground}

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 99
poll-interval = 20
label = BAT  %percentage%%
label-full = BAT %percentage%%
format-underline = ${color.foreground}
content-underline = #FFBB00 
